.container {
    display: flex;
    flex-shrink: 0;
    max-width: 656px;
    overflow: hidden;
    border-radius: 4px;
    align-items: flex-start;
    background: var(--visula-element-6);
    border: 1px solid var(--visula-element-3);
    box-shadow: 0 0 5px var(--visula-element-3);

    .leftWrapper {
        width: 210px;
        padding: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        &:before {
            content: '';
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            position: absolute;
            background: var(--visula-element-3);
        }

        img {
            width: 120px;
            height: 60px;
            object-fit: contain;
        }
    }

    .rightWrapper {
        flex-grow: 1;
        display: flex;
        padding: 24px;
        column-gap: 16px;
        align-items: flex-start;
        justify-content: space-between;

        .transfersWrapper {
            gap: 6px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            flex-direction: column;

            .transfers {
                font-size: 14px;
                color: var(--text-2);
            }

            .transfersIconWrapper {
                height: 1px;
                width: 120px;
                position: relative;
                background: var(--visula-element-3);

                svg {
                    top: 50%;
                    right: -2px;
                    position: absolute;
                    transform: translateY(-50%);
                    fill: var(--visula-element-3);
                }
            }
        }

        .infoWrapper {
            gap: 6px;
            display: flex;
            flex-direction: column;

            .time {
                font-size: 32px;
                color: var(--text-2);
            }
            .city {
                font-size: 11px;
                color: var(--text-2);
            }
            .date {
                font-size: 11px;
                color: var(--text-1);
            }
        }
    }

    .buyBtn {
        gap: 6px;
        border: 0;
        width: 100%;
        padding: 8px;
        display: flex;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--visula-element-5);

        span {
            line-height: 16px;
            font-size: 16px;
            color: var(--text-3);

            b {
                font-weight: 400;
                margin-left: 2px;
            }
        }
    }
}
