* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-1:#747474;
  --text-2:#5b5b5b;
  --text-3:#fff8f3;
  --visula-element-1: #f3f7fa;
  --visula-element-2: #84c5f8;
  --visula-element-3: #d9dbdc;
  --visula-element-4: #2196f3;
  --visula-element-5: #ff6d01;
  --visula-element-6: #ffffff;
}

body{
  width: 100%;
  min-height: 100svh;
  background-color: var(--visula-element-1);
}

#root{
  width: 100%;
  display: flex;
  padding: 0 64px;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
}

.app{
  gap: 16px;
  width: 100%;
  display: flex;
  height: 509px;
  margin-top: 18%;
  align-items: flex-start;
  justify-content: center;

  .ticket-wrapper{
    height: 100%;
    gap: 8px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
  }
}


